<div class="main_body">
  <div class="images_boxParent d_flex img button">
    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[0]" class="width_height">
        <img [src]="imageArray[0]" alt="" />
        <button (click)="deleteImg('0',imageArray[0])">delete</button>
      </div>

      <div *ngIf="!imageArray[0]" (click)="patchImg('0','imgUrl1')">
        select image
      </div>
    </div>

    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[1]" class="width_height">
        <img [src]="imageArray[1]" alt="" />
        <button (click)="deleteImg('1',imageArray[1])">delete</button>
      </div>

      <div *ngIf="!imageArray[1]" (click)="patchImg('1','imgUrl1')">
        select image
      </div>
    </div>

    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[2]" class="width_height">
        <img [src]="imageArray[2]" alt="" />
        <button (click)="deleteImg('2',imageArray[2])">delete</button>
      </div>

      <div *ngIf="!imageArray[2]" (click)="patchImg('2','imgUrl2')">
        select image
      </div>
    </div>

    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[3]" class="width_height">
        <img [src]="imageArray[3]" alt="" />
        <button (click)="deleteImg('3',imageArray[3])">delete</button>
      </div>

      <div *ngIf="!imageArray[3]" (click)="patchImg('3','imgUrl3')">
        select image
      </div>
    </div>

    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[4]" class="width_height">
        <img [src]="imageArray[4]" alt="" />
        <button (click)="deleteImg('4',imageArray[4])">delete</button>
      </div>

      <div *ngIf="!imageArray[4]" (click)="patchImg('4','imgUrl4')">
        select image
      </div>
    </div>

    <div class="images_boxChild d_flex d_flex">
      <div *ngIf="imageArray[5]" class="width_height">
        <img [src]="imageArray[5]" alt="" />
        <button (click)="deleteImg('5',imageArray[5])">delete</button>
      </div>

      <div *ngIf="!imageArray[5]" (click)="patchImg('5','imgUrl5')">
        select image
      </div>
    </div>
  </div>
</div>