.heading_text h1 {
    margin: 0;
    text-align: center;
    font-size: 46px;
    text-transform: capitalize;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images_boxChild {
    border: 1px solid #000;
    width: 10rem;
    height: 10rem;
    margin: 35px 20px;
    border-radius: 10px;
    cursor: pointer;

    img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    button {
        background-color: red;
        background-color: red;
        font-size: 17px;
        border: 0px;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
}

.width_height {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}